<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.spring.mapper.UserMapper">

    <!--<resultMap id="UserResultMap" type="com.lj.spring.bean.User">-->
        <!--<id property="id" column="id" jdbcType="INTEGER"></id>-->
        <!--<result column="name" property="name" jdbcType="VARCHAR"></result>-->
        <!--<result column="age" property="age" jdbcType="INTEGER"></result>-->
        <!--<result column="password" property="password" jdbcType="VARCHAR"></result>-->
        <!--<result column="detail" property="detail" jdbcType="VARCHAR"></result>-->
    <!--</resultMap>-->

    <sql id="User_Colum_List">
        id,name,age,password,detail
    </sql>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="id" parameterType="User" >
        INSERT INTO users (name,age,password,detail) VALUES (#{name},#{age},#{password},#{detail})
    </insert>

    <select id="getUserById" parameterType="int" resultType="User">
        SELECT
        <include refid="User_Colum_List"/>
         FROM USERS WHERE id=#{id}
    </select>

    <select id="getUserByMap"  parameterType="java.util.Map" resultType="User">
        SELECT
        <include refid="User_Colum_List"/>
        FROM USERS WHERE name=#{name} AND password=#{password}
    </select>

    <select id="getAllUsers" resultType="User">
        SELECT
        <include refid="User_Colum_List"/>
        FROM USERS
    </select>

    <update id="updateUser" parameterType="User">
        UPDATE users
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="age != null">age=#{age},</if>
            <if test="password != null">password=#{password},</if>
            <if test="detail != null">detail=#{detail}</if>
        </set>
        WHERE id=#{id}
    </update>

    <delete id="deleteUser" parameterType="int" >
        DELETE FROM users WHERE id=#{id}
    </delete>

</mapper>